// Dark mode theme styles
html.dark-mode {
  background-color: #0c0f11;
}

.dark-mode {
  body {
    background-color: #2b3138;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    color: #b4b7b9;
  }
  .navbar-toggler {
    border-color: rgba(255,255,255,.75);    
  }
  .navbar-toggler:focus {
    box-shadow: 0 0 0 0.25rem rgb(255 255 255 / 50%);
  }
  .navbar-toggler-icon {
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 30 30"><path stroke="rgba%28 255, 255, 255, 0.65%29" stroke-linecap="round" stroke-miterlimit="10" stroke-width="2" d="M4 7h22M4 15h22M4 23h22"/></svg>');
  }
  ::-webkit-calendar-picker-indicator { // Pseudo element to replace calendar picker icon w/ custom icon
    background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="%23b4b7b9"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11zM7 10h5v5H7z"/></svg>');
  }
  input.form-control { // Dark color-scheme makes white calendar icon & dark-themed calendar picker colors
    color-scheme: dark;
  }
  body,
  .table,
  .table-striped>tbody>tr:nth-of-type(odd)>*,
  .navbar-light,
  .navbar-brand {
    color: rgba(255,255,255,.75) !important;
  }
  .navbar-light .navbar-nav .show>.nav-link,
  .navbar-light .navbar-nav .nav-link.active {
    color: rgba(255,255,255,.85)
  }
  .bg-light {
    background-color: #2c343e !important;
  }
  .card {
    border: 1.75px solid rgba(255,255,255,.5);
  }
  .card-header {
    background-color: rgba(255,255,255,.05);
    border-bottom: 1.75px solid rgba(255,255,255,.5);
  }
  nav.border-bottom,
  footer.border-top {
    border-bottom: 1.75px solid rgba(255,255,255,.5) !important;
  }
  .btn-outline-secondary {
    border-color: #b7c2cb;
    color: #b7c2cb;
  }
  .form-check-input {
    background-color: rgba(0,0,0,.25);
    border-color: rgba(255,255,255,.5);
  }
  .modal-content {
    background-color: #353d46;
    border-color: rgba(255,255,255,.75);
  }
  .modal-header,
  .modal-footer {
    background-color: rgba(0,0,0,.25);
  }
  .modal-footer {
    border-top-color: rgba(255,255,255,.75);
  }
  .modal-header {
    border-bottom-color: rgba(255,255,255,.75)
  }
  .btn-close {
    background: transparent url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23eee'%3e%3cpath d='M.293.293a1 1 0 011.414 0L8 6.586 14.293.293a1 1 0 111.414 1.414L9.414 8l6.293 6.293a1 1 0 01-1.414 1.414L8 9.414l-6.293 6.293a1 1 0 01-1.414-1.414L6.586 8 .293 1.707a1 1 0 010-1.414z'/%3e%3c/svg%3e") center/1em auto no-repeat;
  }
  .bg-primary {
    background-color: #25426d !important;
  }
  .table>:not(caption)>*>* {
    border-bottom-color: rgba(255,255,255,.325);
    border-bottom-width: 1px;
  }
  .table-striped>tbody>tr:nth-of-type(odd)>* {
    background-color: rgba(255,255,255,.05);
  }
  .form-control {
    background-color: #1c2127;
    color: #c9c9c9;
  }
}
