//  VARIABLES
// =============================

// Fonts
$font-family-paragraph: 'Open Sans', sans-serif;
$font-family-headings: 'Roboto', sans-serif;
$font-family-icons: 'Material Icons';

$font-size-base: 1rem;

$font-weight-light: 300;
$font-weight-regular: 400;
$font-weight-boldish: 500;
$font-weight-bolder: 600;
$font-weight-bold: 700;
$font-weight-black: 900;

//Image path for most of global style sheet
$imagedir:'/assets/img/';
